body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
  height: 700px;
}

.display {
  display: flex;
  font-size: 3em;
  font-weight: bold;
  border: 2px solid #448d76;
  border-radius: 10px;
  min-width: 396px;
  max-width: 396px;
  max-height: 220px;
  height: 180px;
  box-sizing: border-box;
  word-wrap: anywhere;
  overflow: auto;
}

.operandsContainer {
  display: flex;
  width: 30%;
  height: 100%;
  flex-wrap: wrap;
}

.operatorContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.operands {
  font-size: 7em;
  background-color: #093426;
  color: white;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.operands:last-child {
  width: 30%;
}

.operators {
  font-size: 50px;
  background-color: #23483c;
  color: white;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.operators:last-child {
  font-weight: bold;
  font-size: 40px;
  padding: 0 10px;
}
